.content {
    padding-left: 12px;
    padding-top: 12px;
    padding-right: 12px;
  }
  
  
  /* form */
  
  .container {
    display: flex;
    flex-direction: column;
  }
  
  .container>* {
    width: 100%;
  }

  /* .example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }
  
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  } */
  .example-spacer {
    flex: 1 1 auto;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }
  th, td {
    padding: 0.25rem;
    text-align: left;
    border: 1px solid #ccc;
  }
  tbody tr:nth-child(odd) {
    background: #eee;
  }

  .icon {
    font-size: 18px;
  }